$primary: #0c7159;
$accent-color: #8d8d8d;
$dark-color: #000;
$light-color: #fff;
$grey-color: #dbdbdb;
$light-grey-color: #fafafa;
$primary-color: #6995b1;
$light-primary-color: #eef1f3;

$colors: (
  primary: $primary,
  accent-color: $accent-color,
  dark-color: $dark-color,
  light-color: $light-color,
  grey-color: $grey-color,
  light-grey-color: $light-grey-color,
  primary-color: $primary-color,
  light-primary-color: $light-primary-color,
);

$widthWeb: 1024px;
